*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: alexandria;
    src: url(/font/Alexandria-Light.ttf);
}

body {
    font-family: alexandria, sans-serif;
    background: #EAE4DD;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-wrap: balance;
}

p {
    margin: 0 0 .4em;
    text-wrap: pretty;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

a:not([class]) {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    color: currentColor;
}

h1 {
    text-align: center;
    padding: 1em;
    color: #295F98;
    font-size: 3em;
}

h2 {
    padding: .7em;
    font-size: 2em;
    color: #295F98;
}

.txt-input {
    width: 50%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 1em;
    background-color: #d1cccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.txt-input:focus {
    border-color: #295F98;
    box-shadow: 0 2px 8px rgba(66, 71, 76, 0.25);
    background-color: #ffffff;
}

.txt-input::placeholder {
    color: #999;
    font-style: italic;
}

.search-bth {
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    background-color: #295F98;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    outline: none;
    margin-bottom: 3em;
}

.search-bth:hover {
    background-color: #586068;
}

.search-bth:focus {
    box-shadow: 0 2px 8px rgba(105, 120, 135, 0.25);
}

.country-details-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-items: center;
    place-items: center;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.main-cell {
    display: grid;
    grid-template-columns:
        repeat(2, minmax(200px, 500px));
    place-items: center;
}

.flag-area {
    display: flex;
    padding: .9em;
}

img {
    display: block;
    object-fit: cover;
}

p {
    padding: .9em;
}

.clear-bth {
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    background-color: #295F98;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    outline: none;
    margin-bottom: 3em;
}

.clear-bth {
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    background-color: #295F98;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    outline: none;
    margin-bottom: 3em;
}

.loader {
    margin: auto;
    width: 30%;
}

.hidden {
    display: none;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #333; 
}

.input-container {
    position: relative;
    margin: auto;
    width: 80%;
}

.txt-input {
    width: 100%;
    padding-right: 40px; 
}